{% extends "base.html" %}
{% block content %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">스피커 좀 빌려줘!</h1>
                <h2 class="subtitle">자동으로 추가되는 재생목록!</h2>
                <h3 class="subsubtitle">친구야.. 넌 운전만 해 :D</h3>

                <div class="columns is-centered">
                    <div class="column is-3">
                        <div class="field">
                            <div class="control">
                                <input id="nickname" class="input is-primary" type="text" placeholder="이름을 입력해주세요!">
                            </div>
                        </div>
                        <button id="enter_btn" type="submit" class="button is-primary is-light is-medium">입장하기</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.onload = () => {
            if (localStorage.getItem("nickname") !== null) {
                goWaitingRoom();
            }

            let enter_btn = document.getElementById("enter_btn");
            let nickname = document.getElementById("nickname");
            enter_btn.addEventListener("click", (event) => {
                if(nickname.value){
                    console.log(nickname.value + " 님 환영합니다!!");
                    enterWaitingRoom(nickname.value);
                } else {
                    alert("이름을 입력해주세요!!");
                }
            });

            document.getElementById("nickname").addEventListener("keyup", (event) => {
                if (event.keyCode === 13) {
                    enter_btn.click();
                }
            })
        }

        function enterWaitingRoom(nickname) {
            localStorage.setItem("nickname", nickname);
            goWaitingRoom();
            event.preventDefault();
        }

        function goWaitingRoom() {
            window.location.href = window.location.origin + "/waiting-room";
        }

    </script>
{% endblock %}