<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form onsubmit="enterWaitingRoom()" action="">
        닉네임:
        <input type="text" name="name" id="nickname">
        <button>입장하기</button>
    </form>

    <script>
        window.onload = () => {
            if (localStorage.getItem("nickname") !== null) {
                goWaitingRoom();
            }
        }

        function enterWaitingRoom() {
            const nickname = document.getElementById("nickname")
            localStorage.setItem("nickname", nickname.value)
            goWaitingRoom();
            event.preventDefault();
        }

        function goWaitingRoom() {
            window.location.href = window.location.origin + "/waiting-room";
        }
    </script>
</body>

</html>