<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <form action="" onsubmit="requestSong(event)">
            <input type="text" id="searchText" autocomplete="off"/>
            <button>곡 신청하기</button>
        </form>
        <ul id='messages'>
        </ul>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script>
            var ws = new WebSocket(`ws://localhost:8000/chat/{{code}}/`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = '';
                event.preventDefault();
            }
            function requestSong(){
                event.preventDefault()
                const keyword = document.getElementById("searchText")
                const roomNumber = window.location.pathname.substring(6,12)
                fetch(window.location.origin + '/search/' + roomNumber + '/' + keyword)
            }
            function newMusic() {
                let response = await fetch('/search/{{code}}/');
                document.getElementById("player").src = "http://127.0.0.1:8000/static/music_files/jeqdYqsrsA0.mp3";
            }; 
        </script>
        <audio autoplay controls id="player" src="http://127.0.0.1:8000/static/music_files/UuV2BmJ1p_I.mp3" onended="newMusic()"></audio>
    </body>
</html>