{% extends "base.html" %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    let now = 0;
    var nickname = localStorage.getItem("nickname");
    var ws = new WebSocket(`ws://localhost:8000/chat/{{code}}/`);

    window.onload = async function () {
        let playlist = await fetch("/room/{{code}}/playlist").then((res) => res.json())

        if (playlist.length) {
            newMusic();
        } else {
            timerId = setInterval(checkNew, 3000);
        }

        setTimeout(() => {
            ws.send(`${nickname} 님이 입장하셨습니다!`);
        }, 300)
    }

    async function checkNew() {
        let playlist = await fetch("/room/{{code}}/playlist").then((res) => res.json())
        if (playlist.length) {
            clearInterval(timerId);
            newMusic();
        }
    };

    async function newMusic() {
        let playlist = await fetch("/room/{{code}}/playlist").then((res) => res.json())
        document.getElementById("player").src = `/static/music_files/${playlist[now % playlist.length]}.mp3`;
        now++;
    };

    ws.onmessage = function (event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data)
        message.appendChild(content)
        messages.appendChild(message)
    };


    function sendMessage(event) {
        var input = document.getElementById("messageText")
        var msg = nickname + " : " + input.value;
        ws.send(msg);
        input.value = '';
        event.preventDefault();
    }

    function requestSong() {
        event.preventDefault()
        const keyword = document.getElementById("searchText").value
        const roomNumber = window.location.pathname.substring(6, 12)
        fetch(window.location.origin + '/search/' + roomNumber + '/' + keyword)

        ws.send(`${nickname} 님이 ${keyword} 을 신청하셨습니다!`)
    }
</script>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{code}}</h1>
            <h2 class="subtitle">자동으로 추가되는 재생목록!</h2>
            <h3 class="subsubtitle">친구야.. 넌 운전만 해 :D</h3>

            <div class="columns is-centered">
                <div class="column is-5">
                    <form action="" onsubmit="sendMessage(event)">
                        <div class="columns">
                            <div class="column is-8">
                                <input type="text" id="messageText" class="input" autocomplete="off"
                                    placeholder="채팅하기" />
                            </div>
                            <div class="column is-1">
                                <button class="button is-primary is-light">채팅하기</button>
                            </div>
                        </div>
                    </form>
                    <form action="" onsubmit="requestSong(event)">
                        <div class="columns">
                            <div class="column is-8">
                                <input type="text" id="searchText" class="input" autocomplete="off"
                                    placeholder="신청할 곡 이름" />
                            </div>
                            <div class="column is-1">
                                <button class="button is-primary is-light">곡 신청하기</button>
                            </div>
                        </div>
                    </form>
                </div>
                <audio autoplay controls id="player" onended="newMusic()"></audio>
            </div>
            <div style="height: 500px; background-color: #ebfffc; color: #00947e">
                <ul id='messages'>
                </ul>
            </div>
        </div>
    </div>
</section>





{% endblock %}