{% extends "base.html" %}
{% block content %}

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title">빌려줄까? 빌릴까?</h1>
                    <h2 class="subtitle">환영합니다!</h2>
                    <div class="columns">
                        <div class="column is-6">
                            <form method="POST" onsubmit="createRoom()">
                                <button class="button is-primary is-light is-large">방 만들기</button>
                            </form>
                        </div>
                        <div class="column is-6">
                            <div class="columns">
                                <div class="column is-5">
                                    <input id="joinRoom" class="input is-primary is-large" type="text"
                                        placeholder="참가번호">
                                </div>
                                <div class="column is-1">
                                    <button id="joinBtn" class="button is-primary is-large is-light">
                                        방 참가하기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = () => {
        let nickname = localStorage.getItem("nickname");
        document.querySelector(".subtitle").innerText = `환영합니다! ${nickname} 님!!`

        var joinBtn = document.querySelector("#joinBtn");
        var joinRoom = document.querySelector("#joinRoom");
        joinBtn.addEventListener("click", () => {
            joinRoomFn(joinRoom.value);
        })
        alert(`환영합니다 ${nickname} 님`)
    }

    async function createRoom() {
        event.preventDefault();
        let room_code = await fetch("/room/", { method: "POST" }).then(res => res.json());
        window.location.href = window.location.origin + `/room/${room_code.code}`
    }

    function joinRoomFn(room_code) {
        window.location.href = window.location.origin + `/room/${room_code}`
    }
</script>
{% endblock %}